@(content: String, userForm: Form[forms.MultiStoreyCarParkInput])



@main("Garaż wielopoziomowy") {

<div class="container">
    <div style="height:60px"></div>
    @if(userForm.hasGlobalErrors) {
    <div class="panel panel-danger">
        <ul>
        @userForm.globalErrors.foreach { error =>
            <li>error.message</li>
        }
        </ul>
    </div>
    }

    @horizontalform(
        action = routes.Application.multistoreycarpark(),
        id="multistoreycarpark",
        submit="Przelicz",
        fields = userForm("beamLength"), userForm("slabSpanWidth"), userForm("slabTotalHeight"), userForm("mountingSupportsNumber"), userForm("load"))

    @worksheet(content)

</div>

}
