@media screen {
  body {font-family:sans-serif;font-size:12pt;background-color:#F2F6F7; margin:20mm; color: #26404F}
  table {border-collapse:collapse;margin:5pt;background-color: white;border: 1px solid #AFC4D1;} 
  .et {width:100%; box-shadow: 2px 3px 4px 3px rgba(92, 114, 127, 0.12);}
  .et td {border-top: 1px solid #AFC4D1;border-bottom: 1px solid #AFC4D1;border-right: 1px dotted #BBC7CE;border-left: 1px dotted #BBC7CE;padding:2pt 5pt;}
  .default {font-size:0.94em;font-style:normal;font-weight:normal;color:#26404F;}
}
@media print {
  body {font-family:serif;font-size:10pt;background-color: white; margin:3mm}
  table {border-collapse:collapse;margin:5pt;background-color: white;border: 1px solid black;} 
  .et {width:100%;}
  .et td {border-top: 1px solid black;border-bottom: 1px solid black;border-right: 1px dotted gray;border-left: 1px dotted gray;padding:2pt 5pt;}
  .default {font-size:0.94em;font-style:normal;font-weight:normal;color:black;}
}
div {padding:5pt 0 2pt 0}
a {color: #3E5460; text-decoration: none}
a:hover {color: blue; text-decoration: underline}
math {white-space: nowrap; padding: 0; margin: 1px 0;}
.header {font-size: 75%}
.ec1 {width:30%; margin-left:2em; text-align:left; vertical-align:top}
.ec2 {width:5%; font-size:1em; font-weight: bold; text-align:center;}
.ec3 {width:65%; font-size:1em; color:#26404F}
.exp {font-size:0.94em;font-style:normal;font-weight:normal;space-before:1pt;space-after:1pt;}
.expunres {font-size:1em}
.exprow {font-size:0.94em;font-style:normal;font-weight:normal;color:#000000;space-before:2pt;space-after:1pt;}
.expsymb {font-size:1.1em;font-style:italic;font-weight:normal;color:#000000;min-width:35pt;space-before:1pt;space-after:1pt;}
.expsymb .symb {color:blue;}
.expdesc {font-size:0.83em;font-style:normal;font-weight:normal;color:#000000;space-before:1pt;space-after:1pt;}
.expeval {font-size:1.1em;font-style:normal;font-weight:normal;space-before:1pt;space-after:1pt;}
.expeval mn.num {font-weight:normal; color: blue}
.ns0 {space-before:1.3em;space-after:1pt;}
.ns0 .caption {font-size:1em;font-style:normal;font-weight:bold;color:#3E5460;letter-spacing:150%;  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7); }
.ns1 {space-before:1em;space-after:1pt;}
.ns1 .caption {font-size:1em;font-style:normal;font-weight:bold;color:#5B727F;}
.ns2 {space-before:1em;space-after:1pt;}
.ns2 .caption {font-size:0.94em;font-style:normal;font-weight:bold;color:#5B727F;}
.ns4 {space-before:0.7em;space-after:1pt;}
.ns4 .caption {font-size:0.94em;font-style:italic;font-weight:normal;color:#5B727F;}
.assertfalse {font-size:0.9em;font-style:normal;font-weight:bold;color:red;margin:1pt 5pt; padding-left:20pt}
.assertfalse math {font-size:120%; font-weight:normal}
.assertfalse mn.num {color: red}
.assertfalse .symb {color: red}
.asserttrue {font-size:0.9em;font-style:normal;font-weight:normal;color:#000000;margin:1pt 5pt; padding-left:20pt}
.asserttrue math {font-size:120%}
.assertunknown {font-size:0.9em;font-style:normal;font-weight:normal;color:#ff0000;margin:1pt 5pt; padding-left:20pt}
.unit {font-size:0.94em;font-weight:normal;color:#5B727F}
.illegalunit {font-size:0.6em;font-weight:bold;color:red}

.num {color:black;}
.numexp {color:#545454;font-size:0.9em;font-weight:normal;}
.symb {color:black;}
.ssup,.ssub {font-size:75%}
.pwri {font-size:80%}
.comment {font-size:0.94em;}
.comment1 {font-size:0.83em; padding-left:1em}
.description {font-size:0.83em;}
.title {font-size:1.5em; font-weight:bold; padding:1em 0; text-shadow: 0 1px 0 rgba(255, 255, 255, 0.7); color: black}
.toc {padding-top:5pt;padding-bottom:5pt}
.toctitle {font-size:1em;}
.toc0 {font-size:0.9em; padding-left:0.5em}
.toc1 {font-size:0.8em; padding-left:0.5em}
.toc2 {font-size:0.7em; padding-left:0.5em}
.toc3 {font-size:0.6em; padding-left:0.5em}
.toc4 {font-size:0.6em; padding-left:0.5em}
.toc5 {font-size:0.6em; padding-left:0.5em}
.textvalue {color: black}
.booleanfalse {color: red; font-weight: bold}
.booleantrue {color: green; font-weight: bold}
.reqtrue {border-bottom-width: 2px;border-top-width: 2px;border-left-width: 2px;border-right-width: 2px}
.reqfalse {border-bottom-width: 2px;border-top-width: 2px;border-left-width: 2px;border-right-width: 2px}
.requnknown {border-bottom-width: 2px;border-top-width: 2px;border-left-width: 2px;border-right-width: 2px}